.hidden-div {
	display: none;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 1px;
}

.highlight {
	background-color: #ECECEC;
}

input[type="checkbox"] {
	margin: 0;
	transform: scale(1.3); /* Slightly increase size */
	-webkit-transform: scale(1.3); /* For Safari */
	-moz-transform: scale(1.3); /* For Firefox */
}

/* Floating Div at the bottom of the screen */
#offerDiv {
	position: fixed;
	bottom: 0; /* Position it at the bottom of the screen */
	left: 0; /* Align to the left */
	width: 100%; /* Full screen width */
	background-color: #f9f9f9;
	padding: 20px;
	display: none; /* Initially hidden */
	box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
	border-top: 1px solid #ccc; /* Border at the top */
	z-index: 1000; /* To make sure it floats on top */
	float: right;
}

#offerDiv strong,
#sendOfferBtn {
	font-size: 1.5rem; /* Make the text larger */
	font-weight: bold; /* Ensure the text is bold */
}
