html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.ext-background {
	position: relative;
	background-image: url("/image/homeflight.jpg");
	background-repeat: no-repeat;
	background-size: cover; /* Ensure the image covers the entire area */
	background-position: center;
	color: white; /* Make text color white or adjust for visibility */
	height: 90vh; /* Ensure the container takes full height */
}

/* Pseudo-element for creating the blur effect */
.ext-background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for better contrast */
	filter: blur(15px); /* Apply the blur effect */
	z-index: -1; /* Ensure the blur is behind the text */
}

/* Styling for the text to ensure readability */
.ext-background .content {
	position: relative;
	z-index: 1; /* Keep the text above the blurred background */
	font-size: 20px; /* Adjust font size as needed */
}

/* Styling for the text */
.ext-background .content {
	position: relative;
	z-index: 1;
	font-size: 24px;
	text-align: center;
}

.link-spacing {
	margin-top: 15px; /* Add some space at the top */
	margin-bottom: 10px; /* Add some space at the bottom */
}

.profile-img {
	width: 30px; /* Small size for the image */
	height: 30px;
	object-fit: cover; /* Ensures the image fits inside the circle */
	border-radius: 50%; /* Makes it circular */
}

.table td, .table th {
	padding: .8rem; /* Increase row padding */
	font-size: 1.0rem; /* Increase font size */
}


